.cart-total {
    color: red;
    font-size: 21px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.cartPage-link {
    color: white;
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.btn-remove {
    width: 150px;
    height: 40px;
    border: 2px solid black;
    text-transform: uppercase;
    background-color: transparent;
    transition: all .4s linear;
}
.btn-remove:hover {
    color: white;
    background-color: black;
}