.product-check {
    font-size: 18px;
    color: white;

}
.input-check {
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 300px;
    height: 70px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid white;
    font-size: 18px;
}
.input-check::placeholder {
    color: white;
}
.checkbox {
    display: flex;
}
.textrea-check {
    width: 300px;
    height: 170px;
    border-radius: 5px;
    border: 1px double white;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-size: 18px;
}
.textrea-check::placeholder{
    color: white;
}
.form-pos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-pos > button {
    width: 130px;
    height: 40px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    margin: 15px;
}
.form-pos > button:hover {
    background-color: #fff;
    color: blue;
}
.after-form {
    color: white;
    font-size: 21px;
    text-align: center;
}
.checkbox-checkout {
    display: block;
    margin: 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.checkbox-checkout span {
    display: inline-block;
    color: white;
    font-size: 21px;
    font-weight: 300;
    padding: 0px 0px 0px 30px;
    line-height: 20px;
    position: relative;
}

